
*{
	background-repeat:no-repeat;
	background-position: center;
}

.museum .quad0 {
	background-image: url(../assets/180thumb3.png);
}

.museum .quad0.expanded{
	background-image: url(../assets/180/oculus_small.png);
}

.museum .quad1{
	background-image: url(); 
}

.museum .quad3{
	background-image: url(); 
}


.museum .quad6{
	background-image: url(); 
}
.museum .quad7{
	background-image: url(); 
}
.museum .quad8{
	background-image: url(); 
}
