.seseme .quad0 {
	background-image: url(../assets/sesemethumb.png);
}

.seseme .quad0.expanded {
	background-image: url(../assets/seseme/bigmock.png);
}

.seseme .quad0 video {
	display: none;
}

.seseme .expanded video {
	display: block;
	border: none;
	outline: none;
}

.seseme .quad2 {
	background-image: url(../assets/seseme/bigmock.png);
}

.seseme .quad3 {
	background-image: url(../assets/seseme/sketch2.png);
}

.seseme .quad6 {
}

.seseme .quad7 {
	background-image: url(../assets/seseme/sesemejosh.png);
}

.seseme ul{
top: 0;
padding: none;
}


.seseme li{
	display: inline;
	margin: 8px 0px 0px 10px;
}