.stuffrage .quad0 {
	background-image: url(https://raw.githubusercontent.com/ettubrutesbro/ettubrutesbro.github.io/master/assets/stuffragethumb.PNG);
}

.stuffrage .quad0.expanded{
	background: none;
}
iframe{
	display: none;
}
.expanded iframe{
	display: block;
}

.stuffrage .quad2 {
	background-image: url(../assets/stuffrage/landing_small.png);
}
.stuffrage .quad3 {
	background-image: url(../assets/stuffrage/mockup9_small.png);
}
.stuffrage .quad4 {
	background-image: url(../assets/stuffrage/mockup6_small.png);
}
