
html {overflow-y: scroll;}

body {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto'; sans-serif;
	font-weight: 300;
	border: 0px solid green;
}

header {
	margin-top: 2em;
  margin-left: 30px;
	width: 450px;
	display: inline-block;
	border: 0px solid black;
  float: left;
}

#jl {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 28pt;
	cursor: pointer;
}
#selected{
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 12pt;
}

nav {
	margin-top: 2em;
  	margin-right: 30px;
	float: right;
	display: inline-block;
	text-align: right;
	letter-spacing: 2px;
	font-weight: 500;
	
	font-size: 14pt;
	height: 60px;
	vertical-align: text-bottom;


}

.mobileNav {
	margin-top: -0.7em;
	margin-left: 20px;
	float: left;
	font-size: 11pt;
	letter-spacing: 2px;
	font-weight: 500;
}

#cvp{
	vertical-align: top;
	display: none;
	opacity: 0;
	position: relative;
	left: 120px;
	top: 20px;
	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;


}
ul {
	display: inline;
	position: relative;
	top: 20px;
	margin: 0px;
	list-style: none;
	padding: 0px 0px 0px 0px;
	
}

em{
	font-size: 11pt;
	color: gray;
	font-style: normal;
	letter-spacing: 0em;
}

b{
	font-family: 'Ropa Sans', sans-serif;
	font-style: normal;
	color: red;
	font-size: 12pt;
	cursor: pointer;
}

nav ul li {
	height: 22px;
	margin-left: 10px;
	display: inline;
	
}
a:link{

  text-decoration: none;
  color: gray;
}

.about a:link{
	font-weight: 500;
}
a:visited{
  text-decoration: none;
  color: gray;
}
a:hover{
  color: black;
}





section{
  display: inline-block;
  border: 0px solid red;
  width: 100%;
}

.about{
	padding-top: 20px;
	display: none;
	height: 0px;
	padding-bottom: 0px;
	text-align: right;
	font-size: 14pt;
	opacity: 0;

}

.about a:hover {
	opacity: 0.75;
}

article{
  border: 0px solid black;
  width: 320px;
  height: 240px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;
  cursor: pointer;
}

.bigArticle{
	width: 80%
	height: 700px;
	margin-left: 10%
	margin-right: 10%;
}

p{
  text-align: center;
  border: 0px black solid;
}

figure{
margin: 0;
padding: 0;
margin-top: -0.7em;
margin-left: 30px;
	float: left;
	display: inline;
	height: 100px;
	z-index: -1;
	
}

video{
	position: absolute;
	z-index: -1;
	
}

img{
	width: 100%;
	vertical-align: top;
}

#abouttext {
	display: inline;
	float: right;

	
}

#int{
color: darkorange;	
}

#anim{
color: magenta;
}

#model {
color: blueviolet;
}

#ill{
color: darkcyan;
}

#about a:hover{
	opacity: 0.6;
}