
html {overflow-y: scroll;}

body {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto'; sans-serif;
	font-weight: 300;
	border: 0px solid green;
}

header {
	margin-top: 2em;
  margin-left: 30px;
	width: 450px;
	display: inline-block;
	border: 0px solid black;
  float: left;
}

#jl {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 28pt;
	cursor: pointer;
}
#selected{
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 12pt;
}

nav {
	margin-top: 2em;
  	margin-right: 30px;
	float: right;
	display: inline-block;
	text-align: right;
	letter-spacing: 2px;
	font-weight: 500;

	font-size: 14pt;
	height: 60px;
	vertical-align: text-bottom;


}

.mobileNav {
	margin-top: -0.7em;
	margin-left: 20px;
	float: left;
	font-size: 11pt;
	letter-spacing: 2px;
	font-weight: 500;
	width: 300px;

}

#cvp{
	vertical-align: top;
	display: none;
	opacity: 0;
	position: relative;
	left: 120px;
	top: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#cont {
	float: right;
	margin-right: 380px;
}
#contact{
	float: right;
	text-align: right;
	width: 350px;
	margin-right: 100px;
	margin-left: 30px;
	/*display: block;*/
	display: none;
	opacity: 0;
	position: absolute;
	margin-left: -3px;
	margin-top: -30px;
}



#contact em{
	font-size: 10pt;
}

ul {
	display: inline;
	position: relative;
	top: 20px;
	margin: 0px;
	list-style: none;
	padding: 0px 0px 0px 0px;
	
}

em{
	font-size: 11pt;
	color: gray;
	font-style: normal;
	letter-spacing: 0em;
}

b{
	font-family: 'Ropa Sans', sans-serif;
	font-style: normal;
	color: red;
	font-size: 12pt;
	cursor: pointer;
}

nav ul li {
	height: 22px;
	margin-left: 10px;
	display: inline;
	
}
a:link{

  text-decoration: none;
  color: gray;
}

.about a:link{
	font-weight: 500;
}
a:visited{
  text-decoration: none;
  color: gray;
}
a:hover{
  color: black;
}




section{
  display: inline-block;
  border: 0px solid red;
  width: 100%;
}

.about{
	padding-top: 20px;
	display: none;
	height: 0px;
	padding-bottom: 0px;
	text-align: right;
	font-size: 14pt;
	opacity: 0;

}

.about a:hover {
	opacity: 0.75;
}

article{
  border: 1px solid black;
  width: 320px;
  height: 230px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;
  cursor: pointer;
  overflow: hidden;
}

.quad0 {
	float: left;
	width: 100%;
	height: 200px;
	border: 1px solid black;
}

/* instead of applying to just quad1 this styling should be applied to 2nd child of article
.quad1 {
	margin-top: 5px;
	float: right;
	width: 100%;
	text-align: center;
}
*/
.quad2, .quad4, .quad6, .quad8, .quad10 {
	float: left;
}

.quad1, .quad3, .quad5, .quad7, .quad9 {
	float: right;
}

article div{
	border: 1px solid black;
	display: block;
	
}
	/* settings for expanded articles....
	width: 49%;
	margin: 5px;
	height: 45%;
	
	display: inline;
}
.quadOne, .quadThree{
	float: left;
}
.quadTwo, .quadFour{
	float: right;
}*/

.about figure{
margin: 0;
padding: 0;
margin-top: -0.7em;
margin-left: 30px;
	float: left;
	display: inline;
	height: 100px;
	z-index: -1;
	
}

#contact .ico {
	display: inline;
	margin-left: 10px;
	width: 18px;
	height: 18px;
	border: 1px black solid;
}

h3{
	display: inline;
	line-height: 0px;
}

video{
	position: absolute;
	z-index: -1;
	
}


#abouttext {
	display: inline;
	float: right;

	
}

#int{
color: darkorange;	
}

#anim{
color: magenta;
}

#model {
color: blueviolet;
}

#ill{
color: darkcyan;
}

#about a:hover{
	opacity: 0.6;
}