
.tempr .quad0 {
	background-image: url(../assets/temprthumb2.png);
}

.tempr .quad0.expanded {
	background-image: url(../assets/tempr/iphone.png);
}

.tempr .quad2 {
	background-image: url(../assets/tempr/temprsketch.png);
}

.tempr .quad3 video {
	border: 4px #BABABA solid;
}