html {
	background-color: black;
	overflow: hidden;
}
	body {
		height: 100%;
		color: white;
		background-image: url(background.svg);
		font-family: 'Titillium Web', sans-serif;
		overflow: hidden;
	}

	#bottomdata{
		position: absolute;
		width: 95%;
		margin: auto;
		top: 55%; left: 0; right: 0; bottom: 0;
		z-index: 1;
		padding: 0;
		height: 400px;
	}

	#topdata{
		margin-right: auto;
	}

	#overall_data{

		
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		font-size: 40pt;
		letter-spacing: 0.12em;

	}
	#overall_data ul li {
		list-style-type: none;
	}
	#metrics {
		margin: 0;
		padding: 0;
		font-weight: 400;
		float: left;
	}
	#metrics li{
		display: inline-block;
		padding: 5 12%;
		margin-top: 18px;
		width: auto;
		font-size: 35pt;
		font-weight: 600;
		box-shadow:inset 0px 0px 0px 5px #f00;
		-webkit-box-shadow:inset 0px 0px 0px 5px #f00;
		-moz-box-shadow:inset 0px 0px 0px 5px #f00;
	}
	#valuesz {
		margin: 0;
		padding: 0;
		display: block;
		width: auto;
		float: right;
	}
	#valuesz li{
		text-align: right;
		margin-top: 20px;
		font-weight: 600;
	}

	span.unit {
		font-size: 30pt;
		font-weight: 300;
	}


#svgInside {
	overflow: hidden;
}


